beautifulsoup4==4.13.4
brotli==1.1.0
cloudscraper==1.2.71
fake_useragent==2.2.0
httpx==0.28.1
Requests==2.32.4
rich==14.1.0
urllib3==2.5.0
Flask==2.2.3
Werkzeug==2.2.2
cryptography==41.0.3
paramiko==4.0.0